.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 1.5em;
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-Search-Container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.App-SearchResults-Container
{
  position:relative;
  width:8.4em;
}

.App-SearchResults
{
  position: absolute;
  width:100%;
  background-color: #282c34;
}

.App-SearchResult
{
  border: 1px solid #cccccc;
  border-bottom:none;
}

.App-SearchResults a, .App-Album-Names a, .App-Row a
{
  color:white;
  text-decoration:none;
}

.App-Row a:hover, .App-Album-Names a:hover
{
  text-decoration: underline;
}

.App-SearchResult:last-child
{
  border-bottom: 1px solid #cccccc;
}

.App-SearchResult:hover
{
  cursor:pointer;
  font-weight:bold;
}

.App-Artists-Genre
{
  padding-left:0.3em;
  padding-right:0.3em;
  border: 1px solid #cccccc;
  border-radius: 0.8em;
  background-color:#393d45;
  margin-right:0.2em;
  white-space:nowrap;
}

.App-Artists-Genre:hover
{
  cursor:pointer;
  background-color:#404e56;
}

.App-Container
{
  width:40%;
  padding-left:30%;
  padding-right:30%;
}

.App-Row
{
  display: flex;
}

.App-Row div
{
  flex: 4;
  text-align:left;
}

.App-Row div:last-child
{
  flex:10;
}

.App-Button
{
  border:1px solid black;
  cursor:pointer;
  height:2em;
  padding-right:0.5em;
}

.App-Button-Edit, .App-Button-Submit
{
  background-color: #0d0;
}

.App-Button-Edit:hover, .App-Button-Submit:hover
{
  background-color: #0f0;
}

.App-Button-Delete
{
  background-color: #e66;
}

.App-Button-Delete:hover
{
  background-color: #f33;
}

.App-Modal
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.App-Modal-Title
{
  border-bottom: 1px solid #ccc;
  font-weight:bold;
}



.App-Modal-Content
{
  border:1px solid black;
  background-color:#393d45;
  opacity:100%;
  position:absolute;
  width:20%;
  height:20%;
  left:40%;
  top:10%;
}

.App-Nav ul
{
  margin-top:0;
  list-style:none;
}

.App-Nav a{
  color: white;
  margin-left:0.5em;
  margin-right:0.5em;
}

.App-Nav ul li
{
  display:inline-block;
}

.App-Modal-Row
{
  display: flex;
}

.App-Modal-Row div:first-child
{
  flex: 4;
}
.App-Modal-Row div:last-child
{
  flex: 5;
}

.App-Modal-Row input
{
  width: 90%;
  height: 70%;
}

.App-Modal-Foot
{
  bottom: 0px;
  position: absolute;
  width: 100%;
  padding-bottom: 5px;
  border-top: 1px solid #ccc;
}