.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-Artist-SearchContainer
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.App-Artists-SearchResults-Container
{
  position:relative;
  width:8.4em;
}

.App-Artists-SearchResults
{
  position: absolute;
  width:100%;
  background-color: #282c34;
}

.App-Artists-SearchResult
{
  border: 1px solid #cccccc;
  border-bottom:none;
}

.App-Artists-SearchResult:last-child
{
  border-bottom: 1px solid #cccccc;
}

.App-Artists-SearchResult:hover
{
  cursor:pointer;
  font-weight:bold;
}

.App-Artists-Genre
{
  padding-left:0.3em;
  padding-right:0.3em;
  border: 1px solid #cccccc;
  border-radius: 0.8em;
  background-color:#393d45;
  margin-right:0.2em;
}

.App-Artists-Genre:hover
{
  cursor:pointer;
  background-color:#404e56;
}

.App-Artist
{
  width:40%;
  padding-left:30%;
  padding-right:30%;
}

.App-Artist-Row
{
  display: flex;
}

.App-Artist-Row div
{
  flex: 4;
  text-align:left;
}

.App-Artist-Row div:last-child
{
  flex:10;
}

.App-Button
{
  border:1px solid black;
  cursor:pointer;
  height:2em;
  padding-right:0.5em;
}

.App-Button-Edit
{
  background-color: #0d0;
}

.App-Button-Edit:hover
{
  background-color: #0f0;
}

.App-Button-Delete
{
  background-color: #e66;
}

.App-Button-Delete:hover
{
  background-color: #f33;
}